{% extends 'base.html.twig' %}

{% block title %}Edit Classe{% endblock %}

{% block body %}
    <h2>Change informations about {{ classe.name }}</h2>

    {{ include('classe/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('classe/_delete_form.html.twig') }}
    <a href="{{ path('classe_index') }}"><button>back to list</button></a>
{% endblock %}
