{% extends 'base.html.twig' %}

{% block title %}Classe index{% endblock %}

{% block body %}
    <h2>List of all classes</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
            <tr>
                <td>{{ classe.id }}</td>
                <td>{{ classe.name }}</td>
                <td>
                    <a href="{{ path('classe_show', {'id': classe.id}) }}"><button>show</button></a>
                    <a href="{{ path('classe_edit', {'id': classe.id}) }}"><button>edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('classe_new') }}"><button>Create new</button></a>
{% endblock %}
