{% extends 'base.html.twig' %}

{% block title %}New Classe{% endblock %}

{% block body %}
    <h2>Add a new classe</h2>

    {{ include('classe/_form.html.twig') }}

    <a href="{{ path('classe_index') }}"><button>back to list</button></a>
{% endblock %}
