{% extends 'base.html.twig' %}

{% block title %}Classe{% endblock %}

{% block body %}
    <h2>Informations about {{ classe.name }} </h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ classe.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ classe.name }}</td>
            </tr>
            <tr>
                <th>Moyenne des projets</th>
                <td>{{ classe.getMoyenneProject() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('classe_index') }}"><button>back to list</button></a>

    <a href="{{ path('classe_edit', {'id': classe.id}) }}"><button>edit</button></a>

    {{ include('classe/_delete_form.html.twig') }}
{% endblock %}
