<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('style') }} #}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link type="text/css" rel="stylesheet" href="/style.css">
        {% endblock %}
    </head>
    <body>
    <div>

        {% block navbar %}
            <div class="navbar">

                <div class="dropdown">
                    <button class="dropbtn">Students 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{{ path('student_index') }}">See all students</a>
                        <a href="{{ path('student_new') }}">Add a student</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Projects 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{{ path('project_index') }}">See all projects</a>
                        <a href="{{ path('project_new') }}">Add a project</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Classes 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{{ path('classe_index') }}">See all classes</a>
                        <a href="{{ path('classe_new') }}">Add a classe</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Speakers 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{{ path('speaker_index') }}">See all speakers</a>
                        <a href="{{ path('speaker_new') }}">Add a speaker</a>
                        
                    </div>
                </div>

            </div>
        {% endblock %}

        <div class="content">
        {% block body %}
        {% endblock %}
        </div>

    </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
