{% extends 'base.html.twig' %}

{% block title %}Edit Project{% endblock %}

{% block body %}
    <h2>Change information about the project</h2>

    {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('project/_delete_form.html.twig') }}
    <a href="{{ path('project_index') }}"><button>back to list</button></a>
{% endblock %}
