{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h2>List of all project</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}"><button>show</button></a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}"><button>edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}"><button>Create new</button></a>
{% endblock %}
