{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
    <h2>Create a new project</h2>

    {{ include('project/_form.html.twig') }}

    <a href="{{ path('project_index') }}"><button>back to list</button></a>
{% endblock %}
