{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h2>All projects</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ project.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('project_index') }}"><button>back to list</button></a>

    <a href="{{ path('project_edit', {'id': project.id}) }}"><button>edit</button></a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
