{% extends 'base.html.twig' %}

{% block title %}Edit Student{% endblock %}

{% block body %}
    <h2>Change information about {{ student.firstname }}</h2>

    {{ include('student/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('student/_delete_form.html.twig') }}

    <a href="{{ path('student_index') }}"><button>back to list</button></a>
{% endblock %}
