{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h2>Every students</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.firstname }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.age }}</td>
                <td>
                    <a href="{{ path('student_show', {'id': student.id}) }}"><button>show</button></a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}"><button>edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_new') }}"><button>Create new</button></a>
{% endblock %}
