{% extends 'base.html.twig' %}

{% block title %}New Student {% endblock %}

{% block body %}
    <h2>Add a new student</h2>

    {{ include('student/_form.html.twig') }}

    <a href="{{ path('student_index') }}"><button>back to list</button></a>
{% endblock %}
