{% extends 'base.html.twig' %}

{% block title %}Student{% endblock %}

{% block body %}
    <h2>{{ student.firstname }} informations</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ student.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ student.lastname }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ student.age }}</td>
            </tr>
            <tr>
                <th>Moyenne</th>
                <td>{{ student.getProjectMoyenne() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('student_index') }}"> <button> back to list </button> </a>

    <a href="{{ path('student_edit', {'id': student.id}) }}"> <button> edit </button> </a>

    {{ include('student/_delete_form.html.twig') }}
    
{% endblock %}
{% block javascripts %}
            {# {{ parent() }} #}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}