{% extends 'base.html.twig' %}

{% block title %}Edit Speaker{% endblock %}

{% block body %}
    <h2>Change informations about {{ speaker.firstname }}</h2>

    {{ include('speaker/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('speaker/_delete_form.html.twig') }}
    <a href="{{ path('speaker_index') }}"><button>back to list</button></a>
{% endblock %}
