{% extends 'base.html.twig' %}

{% block title %}Speaker index{% endblock %}

{% block body %}
    <h2>List of all speakers</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for speaker in speakers %}
            <tr>
                <td>{{ speaker.id }}</td>
                <td>{{ speaker.firstname }}</td>
                <td>{{ speaker.lastname }}</td>
                <td>{{ speaker.age }}</td>
                <td>
                    <a href="{{ path('speaker_show', {'id': speaker.id}) }}"><button>show</button></a>
                    <a href="{{ path('speaker_edit', {'id': speaker.id}) }}"><button>edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('speaker_new') }}"><button>Create new</button></a>
{% endblock %}
