{% extends 'base.html.twig' %}

{% block title %}New Speaker{% endblock %}

{% block body %}
    <h2>Add a new speaker</h2>

    {{ include('speaker/_form.html.twig') }}

    <a href="{{ path('speaker_index') }}"><button>back to list</button></a>
{% endblock %}
