{% extends 'base.html.twig' %}

{% block title %} Speaker {% endblock %}

{% block body %}
    <h2>Speaker {{ speaker.firstname }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ speaker.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ speaker.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ speaker.lastname }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ speaker.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('speaker_index') }}"><button>back to list</button></a>

    <a href="{{ path('speaker_edit', {'id': speaker.id}) }}"><button>edit</button></a>

    {{ include('speaker/_delete_form.html.twig') }}
{% endblock %}
