body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

.navbar {
    overflow: hidden;
    background-color: #6d6466;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    text-align: center;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #4e3d42;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #e3dbdb;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table tr:nth-child(even){background-color: #f2f2f2;}
  
  .table tr:hover {background-color: #ddd;}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6d6466;
    color: white;
  }

  h2{
      text-align: center;
  }

  .content{
    margin: auto;
    width: 1200px;
  }

button{
  background-color: #b9c4a6; /* Green */
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 
  margin: 0;
  margin-top: 2px;
  cursor: pointer;
}

.delete-btn{
  background-color: #dd403a;
}
form{
  text-align: center;
}

div .input{
  border: none;
  border-bottom: 1px solid #6d6466 !important;
}

div label{
  margin-right: 10px;
}

select{
  padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.input{
  border-bottom: 1px solid #6d6466 !important;
}

input{
  border: none;
  border-bottom: 1px solid #6d6466!important;
}

select {
  border-bottom: 1px solid #6d6466 !important;
}

select:hover, input:hover, .input:hover, div .input:hover{
  border-bottom: #4e3d42;
}

div{
  margin-bottom: 10px;
}

